*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(195, 189, 189);
}

/* Navigation */

header{
    background-color: white;
}

.welcome-note{
    height: 35px;
}

.welcome-note p{
    margin-left: 550px;
    margin-top: 10px;
    font-family: 'roboto', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 100px;
    background-color: black;
}

.nav-bar img{
    width: 120px;
}

.search{
    padding: 20px;
    width: 10px;
    height: 5px;
    /* margin-left: 200px; */
    
}

.nav-bar div{
    margin-right: 100px;

}

.icon img{
    width: 30px;
    margin-right: 10px;
}

.navigation{
    background-color: black;
    padding-bottom: 20px;
}

.nav-menu{
    margin-top: 30px;
    margin-left: 320px;
    position: absolute;
    top: 70px;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    margin-right: 20px;
    color: rgb(181, 181, 181);
    font-size: 18px;
}

.nav-menu a:hover{
    text-decoration: underline;
}



/* Container */

.content{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 70px;
    margin: 50px 50px 50px 50px;
}

.content img{
    width: 350px;
}

.news{
    border-radius: 10px;
    font-family:'roboto', sans-serif;
    border: 1px grey solid;
    padding: 10px 100px 20px 100px;
    position: relative;
}

.news p{
    color: black !important;
    width: 400px;
    margin-top: 20px;
}

.title{
    margin-bottom: 30px;
    color: rgb(11, 130, 148);
}

.author{
    color: rgb(11, 130, 148);
    color: black;
}

span{
    font-style:italic;
    font-weight: lighter;
    color: rgb(11, 130, 148);

}

.date{
    color: rgb(112, 111, 111);
    position: absolute;
    right: 10px;
    bottom: 25px;
    
}

.news:hover{
    transition: 1.2s;
    opacity: 0.6;
}

a{
    color: transparent;
}



/* Footer */

.subscription{
    background-color: black;
    color: white;
    font-family: 'roboto', sans-serif;
    padding-left: 340px;
    padding-top: 70px;
    width: 1300px;
}


.subscription h2{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 50px;
}

.subscription p{
    color: rgb(190, 190, 190);
    font-size: 18px;
    padding-left: 25px;
    letter-spacing: 1px;

}

.subscription input{
    width: 290px;
    border: 2px solid rgb(173, 171, 171);
    margin-top: 30px;
    background-color: black;
    margin-left: 120px;
    padding: 10px 0px;
    padding-left: 20px;
}

.subscription input::placeholder{
    color: rgb(220, 220, 220);
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    letter-spacing: 1px;
}


.copyright{
    font-size: 12px !important;
    margin-top: 250px;
    margin-left: 120px;
    margin-bottom: 10px;
}

/* .green-button{
    background-color: rgb(37, 219, 37);
    right: 100px;
    bottom: 70px;
    padding: 10px;
    border-radius: 20px;
    position: fixed;
}

.green-button p{
    margin-top: 20px;
}

.green-button img{
    width: 80px;
} */



