*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: rgb(195, 189, 189);

}

/* Navigation */

header{
    background-color: white;
}

.welcome-note{
    height: 35px;
}

.welcome-note p{
    margin-left: 550px;
    margin-top: 10px;
    font-family: 'roboto', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 100px;
    background-color: black;
}

.nav-bar img{
    width: 120px;
}

.search{
    padding: 20px;
    width: 10px;
    height: 5px;
    /* margin-left: 200px; */
    
}

.nav-bar div{
    margin-right: 100px;

}

.icon img{
    width: 30px;
    margin-right: 10px;
}

.navigation{
    background-color: black;
    padding-bottom: 20px;
}

.nav-menu{
    margin-top: 30px;
    margin-left: 320px;
    position: absolute;
    top: 70px;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    margin-right: 20px;
    color: rgb(181, 181, 181);
    font-size: 18px;
}

.nav-menu a:hover{
    text-decoration: underline;
}

.content{
    /* background-color: green; */
}


.content img{
    width: 1300px;
    height: 500px;
}




/* Container*/

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'roboto', sans-serif;
}

.contact-form{
    background-color: rgb(228, 204, 251);
    padding-bottom: 50px;
    padding-top: 20px;
}

.contact-form h2{
    padding-left: 50px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.contact-info{
    background-color: black;
    color: white;
    padding-bottom: 50px;
    padding-top: 20px;

}

.contact-info h2{
    padding-left: 200px;
    padding-top: 20px;
}

input{
    padding: 10px 20px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: transparent;
    border: solid 2px black;
    border-width: 0px 0px 2px 0px;
}

input::placeholder{
    color: black;
}

input:focus{
    outline: none;
}

input:focus::placeholder{
    visibility: hidden;
}

textarea{
    padding: 0px 20px;
    width: 480px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 50px;
    background-color: transparent;
    border: solid 2px black;
    border-width: 0px 0px 2px 0px;
}

textarea::placeholder{
    color: black;
}

textarea:focus{
    outline: none;
}


.subinformation{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 120px;
}
.subinformation img{
    width: 40px;
    height: 50px;
    padding-top: 30px;

}
.subinformation p{
    padding-top: 50px;
}

button{
    padding: 10px 50px;
    margin-left: 410px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover{
    opacity: 0.6;
    transition: 0.7s;
}



/* Footer */

.subscription{
    background-color: black;
    color: white;
    font-family: 'roboto', sans-serif;
    padding-left: 340px;
    padding-top: 70px;
    /* position: relative; */
}


.subscription h2{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 50px;
}

.subscription p{
    color: rgb(190, 190, 190);
    font-size: 18px;
    padding-left: 25px;
    letter-spacing: 1px;

}

.subscription input{
    width: 290px;
    border: 2px solid rgb(173, 171, 171);
    margin-top: 30px;
    background-color: black;
    margin-left: 120px;
    padding: 10px 0px;
    padding-left: 20px;
}

.subscription input::placeholder{
    color: rgb(220, 220, 220);
    font-size: 15px;
    font-family: 'roboto' sans-serif;
    letter-spacing: 1px;
}


.copyright{
    font-size: 12px !important;
    margin-top: 250px;
    margin-left: 120px;
    margin-bottom: 10px;
}

.social{
    position: absolute;
    bottom: 130px;
    left: 600px;
}

.social img{
    width: 30px;
}

.tiktok{
    
}



label{
    margin-left: 50px;

}

.account-details{
    background-color: wheat;
    width: 250px;
    margin-left: 20px;
    padding-top: 20px;
}

.account-details pre{
    margin-left:-120px !important;

}