*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

/* Navigation */

header{
    background-color: white;
}

.welcome-note{
    height: 35px;
    letter-spacing: 1px;
}

.welcome-note p{
    margin-left: 550px;
    margin-top: 10px;
    font-family: 'roboto', sans-serif;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 100px;
    background-color: black;
}

.nav-bar img{
    width: 120px;
}

.search{
    padding: 20px;
    width: 10px;
    height: 5px;
}

.nav-bar div{
    margin-right: 100px;

}

.icon img{
    width: 30px;
    margin-right: 10px;
}

.navigation{
    background-color: black;
    padding-bottom: 20px;
}

.nav-menu{
    margin-top: 30px;
    margin-left: 320px;
}

.nav-menu a{
    color: white;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    margin-right: 20px;
    color: rgb(181, 181, 181);
    font-size: 18px;
}

.nav-menu a:hover{
    text-decoration: underline;
}

.hamburger{
    display: none;
}

.cancel{
    display: none;
}

.nav-bar .cancel{
    width: 50px;
}





/* Container */

h1{
    font-family: 'roboto', sans-serif;
    padding-top: 40px;
    padding-left: 50px;
    text-decoration: underline;
}

h2{
    font-family: 'roboto', sans-serif;
    /* padding-top: 40px; */
    text-align: center;
    margin-top: 50px;

}

.status{
    color: rgb(255, 0, 0);
    opacity: 0;
}

span{
    color: green;
}


.content{
    margin-bottom: 100px;
}

.promotions{

}